.contact{
    padding-left: 101px;
    padding-bottom:114px ;
    padding-top: 66px;
}
.forma{
    display: flex;
    gap: 254px;
}
.forma__wrapper{
    max-width:41% ;    
    max-height:697px;
    border: none;
}
.logo__wrapper{
    flex-basis: 59%;
    max-height: 703px;
    padding: 146px 75px;
    display: flex;
    flex-wrap: wrap;
    gap: 52px;
    background-color: #65575E;
    border-radius: 20px;
}
.logo__wrapper-img{
    flex-basis: 25%;
    max-width: 100%;
}
.logo__wrapper-img:last-child{
    margin-left: 100px;
}

.partners__title{
    font-family: 'Montserrat';  
    font-weight: 700;
    font-size: 56px;
    line-height: 178%;
    text-transform: uppercase;  
    color: #65575E;
    margin-bottom: 18px;
}
.contact__title{ 
    font-weight: 700;
    margin: 0;
    padding: 0;       
    margin-bottom: 72px;
    color: rgba(112, 44, 119, 0.7);
}
.contact__text{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';    
    color: #65575E;
    margin-bottom: 32px;
}
.contact__link{
    display: block;
    font-family: 'Montserrat';
    font-weight: 700;
    color: #65575E;
    text-decoration: underline;
    margin-bottom: 72px;
}
.contact__forma{
    position: relative;
    margin-top:72px;
    margin-bottom: 62px;
}
.contact__fieldset{
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.fieldset__legend{
    font-family: 'Montserrat';
    font-weight: 700;
    line-height: 178%;
    color: rgba(112, 44, 119, 0.7);
    margin-bottom: 76px;
}
.contact__lable{    
    font-family: 'Montserrat';
    line-height: 120%;
    color: #65575E;
    margin-bottom: 40px;
}
.contact__input{    
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    border-bottom:3px solid #65575E;
    margin-bottom: 40px;
}
.contact__textarea{
    background-color: transparent;
    margin-bottom: 62px;
}
.forma__btn{
    cursor: pointer;
    background: #65575E;
    border-radius: 48px;
    font-family: 'Montserrat';
    font-size: 24px;
    line-height: 120%;
    text-transform: uppercase; 
    color: #FFFFFF; 
    padding: auto;
    border: none; 
    width: 326px;
    height: 77px;
}
.imput-error{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
}
@media (max-width:1520px) {
    .contact__text{
        font-size: 26px;
}
.contact__fieldset textarea{
    resize: none;
    width: 400px;
    height: 220px;
}
.logo__wrapper-img{    
    max-width:40%;
}
}
@media (max-width:1350px) {
    .contact__fieldset{
        flex-grow: 0;
    }
    .contact__text{
        font-size: 20px;
}
.forma__btn{
    width: 250px;
    height: 57px;
}
.forma{    
    gap: 100px;
}
.logo__wrapper-img:last-child{
    margin-left: 0px;
}
.contact__fieldset textarea{
    resize: none;
    width: 350px;
    height: 150px;
}
}
@media (max-width:1020px) {
    .contact{
        padding-left: 50px;
    }
    .contact__text{
        font-size: 18px;
        margin-bottom: 20px;
}
.partners__title{    
    font-size: 40px;    
    margin-bottom: 18px;
}
.logo__wrapper{
    padding: 146px 35px;
}
.forma__wrapper{
    max-width: 30%;
}

.fieldset__legend{
    font-size: 24px;
}
.contact__fieldset textarea{   
    width: 250px;
    height: 150px;
}
}
@media (max-width:860px) {
    .forma{        
        gap: 50px;
    }
    .contact{
        padding-left: 25px;
    }
    .contact__text{
        font-size: 14px;
}
}
@media (max-width:740px) {
    .contact{
        padding: 0;
        padding-top: 11px;        
    }
    .forma{
        flex-direction: column;        
        gap: 32px;
        padding-left: 0;
    }
    .contact__title{ 
        margin-bottom: 8px;
        font-size: 32px;
        margin-left: 16px;
    }
    .contact__text{
        font-size: 10px;
        line-height: 12px;
        margin-right: 57px;
        margin-left: 16px;
}
.contact__link{
    font-size: 10px;
    margin-bottom: 22px;
    margin-left: 16px;
}
.contact__link svg{
    width: 4px;
    height: 7px;
}
.contact__forma{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 16px;
}
.fieldset__legend{
    font-size: 24px;
    margin-bottom: 33px;
}
.forma__wrapper{
    max-width: 100%;    
}
.contact__input{
    margin-bottom: 32px; 
    margin-right: 16px;   
}
.contact__lable{
    font-size: 14px;
}
.contact__fieldset textarea{
    resize:inherit;
    width:343px;
    height: 57px;
    margin-bottom: 18px;
    margin-right: 16px;
}
.forma__btn{
    width: 74px;
    height: 18px;
    font-size: 10px;
    padding: 3px 11px;
}
.logo__wrapper{
    max-width: 100%;
    max-height:215px;
    padding:16px; 
    padding-top:62px ;
    padding-bottom: 0;   
    gap: 0px;    
    border-radius: 0;      
}
.forma__partners{
    position: relative;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    width: 100%;
}
.partners__title{
    position: absolute;
    top: 19px;
    transform: translateX(16px);
    padding: 0;
    margin: 0;
    color: #FFFFFF;
    font-size: 14px;
}
.logo__wrapper-img{
    max-width: 119px;
    max-height: 60px;
    margin-bottom: 18px;    
}
.logo__wrapper-img:nth-child(odd){
    margin-right: 112px;
}
.logo__wrapper-img:last-child{
    flex-grow: 1.5;
}
}
@media (max-width:340px) {
    .logo__wrapper-img{
        max-width: 100px;
        max-height: 50px;
        margin-bottom: 9px;    
    }
    .logo__wrapper-img:nth-child(odd){
        margin-right: 30px;
    }
    .logo__wrapper-img:last-child{
        flex-grow: 0;
    } 
}