.footer__wrapper{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    gap: 34px;
    padding:136px 110px 183px 110px ;
    background-image: url('../img/footer.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%; 
    background-size: cover;
}
.footer__nav{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-basis: 13%;
}
.footer__nav-about{
    flex-basis: 30%;
}
.footer__nav-plane{
    flex-basis: 30%;
}
.footer__title{
    margin: 0;
    padding: 0;
    text-transform: uppercase; 
    color: #FFFFFF;
    margin-bottom: 24px;
    font-weight: 700;
    background-color: transparent;    
}
.footer__list{
    margin: 0;
    padding: 0;
}
.footer__link{
    font-family: "TT Norms";
    font-weight: 400;
    font-size: 20px;    
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.footer__link:hover{
    color: rgb(141, 36, 141);   
}
.footer__contact{
    display: flex;
    gap: 16px;
    margin-bottom: 153px;
}
@media (max-width:1520px) {
    .footer__title{
        font-size:24px;  
    }
    .footer__link{
        font-size: 18px;
    }  
}
@media (max-width:1350px) {
    .footer__title{
        font-size:20px;  
    }
    .footer__link{
        font-size: 16px;
    } 
    .footer__wrapper{
        gap: 20px;
        padding:136px 110px 183px 55px ;
    }   
}
@media (max-width:1020px) {
    .footer__title{
        font-size:14px;  
    }
    .footer__link{
        font-size: 14px;
    }
    .footer__item svg{
        width: 26px;
        height: 26px;
    }
}
@media (max-width:860px) {
    .footer__title{
        font-size:14px;  
    }
}
@media (max-width:740px) {
    .footer__wrapper{
        flex-direction: column;
        padding: 0;
        position: relative;
        padding-bottom: 35px;
    }
    .footer__nav{
        text-align: center;
    }
    .footer__title{
        margin: 0;
        padding: 0;
        font-weight: 700;
        font-size:14.57px;
        gap: 32px;
        margin-bottom: 7.5px;  
    }
    .footer__nav-contact{
        order: -1;
    }
    .footer__list{
        margin: 0;        
        justify-content: center;
    }
    .footer__item{
        margin: 0;
        padding: 0;        
        line-height: 12.89px;
    }
    .footer__link{
        font-family: 'TT Norms';
        font-style: normal;
        margin: 0;
        padding: 0;
        font-size: 10.93px;
        font-weight: 400;
        opacity: 0.7;
    }
    .footer__item:not(:last-child){
        margin-bottom: 7px;
    }
    .footer__logo{
        width: 100%;
        left: 45%;
        top: 48px;
        position: absolute;
        width: 57px;
        height: 38px;              
    }
    .footer__contact{
        margin-top: 48px;
        gap: 6px;
    }
    .footer__nav-about{
        flex-basis: content;
    }
    .footer__nav-plane{
        flex-basis: content;
    }
}