.header{
    width:100%;       
    height: 64.6%;
    background-image: url(../img/mainphoto.jpg);
    background-position: 50% 0; 
    background-size: cover;   
    background-repeat: no-repeat;
    border-radius: 6px;          
}
.conteiner{
    box-sizing: border-box;    
    margin: 30px 28px;    
    padding: 58px 70px;    
    }
.pageabout__conteiner{
    box-sizing: border-box;
    padding:88px 70px;
}
.nav__conteiner{
    display: flex;
    margin-bottom: 209px;         
}
.logo{
    max-width: 102px;
    max-height: 68px;
    margin-right: 89px;
}
.navigation{
    background-color: rgba(255, 255, 255, 0.79);
    opacity: 0.68;
    border-radius: 36px;
    display: flex;
    gap:207px;
    justify-content: space-between;
    min-width: 78%;        
    padding: 22px 47px;      
}
.list__main{
    margin: 0;
    padding: 0;
    display: flex; 
    flex-wrap: nowrap;
    gap: 38px;  
}
.list__user{
    margin: 0;
    padding: 0;
    display: flex;
    gap: 38px;
}
.nav__item{
    margin: 0;
    padding: 0;
}
.nav__link{    
    padding: 0;
    margin: 0;   
    text-transform: uppercase;
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height:116%;
    color: #492949;    
}
.nav__link:active{
    text-decoration:underline;
    color: #FFFFFF;
}

.nav__link:hover{
    color: rgb(182, 9, 182);
}
.navigation__item:last-child{
    position: relative;
}
.nav__item:not(:last-child)::after{
    position: absolute;
    content: '';
    width: 4px;
    height: 4px;
    background-color:#492949;
    border-radius: 50%;
    top:85px;       
    transform:translateX(6px) ;
}

.list__user .nav__item:last-child::after{
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    background-image: url(../img/flag-for-slovakia.png);
    top:172px;
}
.header__titleone{
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    font-size: 158px;
    line-height: 122%;    
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.6;
    margin: 0;
    padding: 0;
    margin-left: 111px;
}
.header__titlesecond{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 176px;
    line-height: 122%;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    margin-left: 123px;    
}
.header__description{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;    
    color: #FFFFFF;
    margin-left: 123px; 
    margin-bottom: 40px; 
}
.header__distance{
    display: flex;
    gap: 75px;
    margin-left: 123px;
}
.header__distance span{
    display: block;
    width: auto;
    height: 62px;
    background-color: #492949;    
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 12px;
}
.header__pageabout{
    max-height: 73px;
}
.nav__pageabout{
    background: rgba(255, 255, 255, 0.79);
}
@media (max-width:1520px) {
.conteiner{
    margin: 15px 14px;    
    padding: 29px 35px;       
}
.navigation{       
    gap:100px;            
}
.header__titlesecond{        
    font-size: 120px;        
    margin-left: 65px;    
} 
.header__titleone{
    font-size: 120px;        
    margin-left: 55px;
}
.header__description{
    font-size: 24px;
}    
}
@media (max-width:1350px) {
    .conteiner{
        margin: 10px 10px;    
        padding: 15px 20px;       
    }
    .navigation{       
        gap:50px;            
    }
    .logo{
        max-width: 82px;
        max-height: 70px;
        margin-right: 44px;
    }
    .header__titlesecond{        
        font-size: 100px;        
        margin-left: 50px;    
    } 
    .header__titleone{
        font-size: 100px;        
        margin-left: 45px;
    }
    .list__main{
        gap: 18px;
    }
    .nav__link{
        font-size: 20px;
    }
    .nav__item:not(:last-child)::after{
        top: 70px;
    }
    .header__description{
        font-size: 20px;
        margin-left: 45px;
    }      
    }
@media (max-width:1020px) {
    .navigation{       
        gap:25px; 
        padding: 11px 23px;           
    }
    .header__titlesecond{        
        font-size: 80px;        
        margin-left: 65px;    
    } 
    .header__titleone{
        font-size: 80px;        
        margin-left: 55px;
    } 
    .list__main{
        gap: 9px;
    }
    .nav__link{
        font-size: 16px;
    }
    
    .nav__item:not(:last-child)::after{
        top: 60px;
    }
    .header__description{
        font-size: 16px;
        margin-left: 40px;
    }
    .nav__item:not(:last-child)::after{
        transform: translateX(3px);
    }
    .list__user .nav__item:last-child::after{
        top: 150px;
        right: 50px;
    }              
        } 
@media (max-width:860px){
    .navigation{       
        gap:10px; 
        padding: 6px 11px;           
    }
    .nav__link{
        font-size: 12px;
    }
    .nav__item:not(:last-child)::after{
        top: 55px;
    }
    .header__titlesecond{
        font-size: 60px;
    }
    .header__titleone{
        font-size: 60px;
    }
}        