.photo__conteiner{
    padding: 88px 50px;
}
.photogallery__title{
    margin: 0; 
    padding: 0;   
    color: #65575E;
    margin-bottom:58px ;
}
.photogallery__text{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    color: #65575E;
    margin-bottom: 42px;    
}
.photogallery__list{
    margin: 0;
    padding: 0;
    display: flex;    
    gap: 16px;
    flex-wrap: wrap;
    margin-bottom: 58px;
}
.photogallery__item{
    max-width: 30%;
}
.long__item{
    max-width: 22%;
}
.photogallery__photo{    
    height: 538px;
    width: 497px;
    width:100%;        
}
.photogallery__change{
    font-family: 'Montserrat';
    font-weight: 700;
    color: #65575E;    
    margin-bottom: 59px; 
    text-decoration: underline;
    border: none;
    padding: 8px;    
    font-size: 32px;
    line-height: 39px; 
    background-color: transparent;       
}
.pfotogallery__batton{
    cursor: pointer;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #702C77;
    border: none;
    border-radius: 26px;
    padding: 12px 26px;       
}
.list__long{
    gap: 44px;
}
.list__long .photogallery__photo{
    width: 350px;
    height: 380px;
}
@media (max-width:740px) {
    .photo__conteiner{
        padding: 18px;
    }
    .photogallery__title{        
        margin-bottom:18px ;
        font-size: 32px;
        margin-left: 71px;
    }
    .photogallery__text{
        font-size: 10px;
        line-height: 12.19px;
        margin-bottom: 18px;   
    }
    .photogallery__list{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;    
        gap: 8px;
        flex-wrap: nowrap;
        margin-bottom: 18px;
        overflow: hidden;
    } 
    .photogallery__item{
        min-width: 216px;
    }    
    .photogallery__photo{    
        height: 234px;
        width: 216px;              
    }
    .photogallery__change{        
        font-size: 10px;
        line-height: 12px;
        margin-bottom: 38px;              
    }
    .pfotogallery__batton{        
        font-size: 14px;
        line-height: 17px;        
        padding: 7px 23px; 
        margin-left: 25%; 
        align-items: center;     
    }
    .list__long{
        gap: 2px;
        flex-wrap: wrap;
    }
    .list__long .photogallery__photo{
        width: 112px;
        height: 112px;       
    }
    .long__item{
        min-width: 112px;
    }    
}