.planetrasy__conteiner{
    display: flex;
    gap: 10px;
    padding:100px 0 100px 98px ;     
    box-sizing: border-box;
}
.plane__wrapper{
    flex-basis:58%;
    height: 707px;    
    background-color: #65575E;
    border-radius: 20px; 
}    
    
.plane__photo{
    flex-basis: 41%;
    width: 100%;
    max-height: 707px;
    border-radius: 20px;
}
.plane__list{    
    margin: 0;
    padding-left: 91px;
    padding-top:116px;
    display: flex;
    flex-direction: column;
    gap: 72px;
    list-style:circle;
}
.plane__item{
    font-family: 'Montserrat';
    color: #FFFFFF;
}
.plane__link{
    cursor: pointer;    
    font-size: 48px;
    line-height: 118%;
    font-weight: 700;
    color: #FFFFFF;
    padding:0;
    padding-top: 20px;
    padding-left: 91px;
    margin-bottom: 61px;
    display: block;
    box-sizing: border-box;   
    text-decoration: underline;
    text-transform: uppercase;
}
.plane__link svg{
    transform: translateY(20px);
    width: 92px;
    height: 92px;
}
@media (max-width:1520px) {
    .plane__link{
        font-size: 36px;
    }
}
@media (max-width:1350px) {
    .plane__link{
        font-size: 28px;
    }
}
@media (max-width:1020px) {
    .planetrasy__conteiner{
        padding-left: 40px;
    }
    .plane__list{
        padding-left: 40px;
    }
    .plane__link{
        font-size: 24px;
        padding-left: 40px;
    }
    .plane__link svg{
    width: 60px;
    height: 60px;
    }
    .plane__item{
        font-size: 24px;
    }
}
@media (max-width:860px) {
    .plane__link{
        font-size: 20px;
    }
    .plane__link svg{
    width: 30px;
    height: 30px;
    }
    .plane__item{
        font-size: 20px;
    }
}
@media (max-width:740px) {
    .planetrasy__conteiner{
        gap: 5px;       
        padding: 16px;
        min-height: 159px;
        border-radius: 4.48px;
    }
    .plane__photo img{        
        height: 158px;
    }
    .plane__wrapper{       
        height: 158px;       
    }
    .plane__list{
        padding: 0;
        margin-top: 18px;
        margin-left: 20px;
        gap: 8px;        
    }
    .plane__item{        
        margin: 0;
        padding: 0;
        font-size: 8px;
        line-height: 9.75px;
        margin-left: 20px;
    }
    .plane__link{
        font-size: 10px;
    }
    .plane__link svg{
        width: 20px;
        height: 20px;
        transform: translateY(10px);
    }
}