.popup__conteiner{
    width: 100%;    
    min-height: 604px;
    max-width: 100%;
    background-color:#65575E;
    color: #ffffff;
    padding: 16px 41px;
    position: fixed;
    top: 0;
    left: 0;
}
.closepopup__btn{
    color: #ffffff;
    width: 24px;
    height: 24px;    
    margin-left: 85%;
    margin-bottom: 58px;
    border: none;
    background-color: transparent;
}

.popup__list{
    position: relative;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 40px; 
    margin-bottom: 60px;   
}
.popup__item{
    padding: 0;
    margin: 0;
}    
.popup__link{    
    padding: 0;
    margin: 0;
    color: #ffffff;
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;    
    text-transform: uppercase;  
}
.popup__link::after{
    position: absolute;
    content: '';
    background-image: url(../img/popuparrow.svg);
    background-repeat: no-repeat;
    width: 12px;
    height: 8px;    
    right: 16px;
    transform: translateY(20px);
}
.social__item{    
    width: 22px;
    height: 22px;    
}
.social{
    display: flex;
    flex-direction: row;
    gap: 6px;
    margin: 0;
    margin-bottom: 104px;
}
.translate__btn{
    border: none;
    background-color: transparent;
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 38px;
}
.popup__translate{
    display: flex;
    gap: 8px;    
}
.language__popup{
    position: absolute;
    bottom:-20px;
    display: none;
    border-bottom:1px solid #FFFFFF;
    padding-right: 40px;
}
.language__header{
    position: absolute;
    top:120px;
    display: none;    
    left: 80%;
    padding-right: 40px;     
}
.language__popup a{
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'TT Norms';
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase
}

@media (max-width:300px) {
    .closepopup__btn{
        margin-left: 200px;
    }
    .popup__conteiner{
        padding-left: 0px;
    } 
    .popup__link::after{
        right: 0;
        left: 240px;
    }   
}