.presentation__conteiner{
    padding-left: 100px;
    padding-top: 100px;
}

.presentation__title{
    color: rgba(112, 44, 119, 0.7);      
}
.presentation__text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;    
    color: #65575E;
}
.pageabout__text{
    font-family: 'Montserrat';
    color: #65575E;
    margin-bottom: 58px;
}
.presentation__link{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #65575E;
    margin-bottom: 71px;
}
.slider__title{    
    flex-grow: 1;
    font-family: 'TT Norms';    
    font-size: 48px;
    line-height: 118%;
    color: #65575E;
}
.presentation__label{
    display: flex;      
}
.presentation__btn{
    width: 98px;
    height: 98px;
    border: none;
    background-color: transparent;
}
.presentation__btn-left{    
    background-image: url('../img/sliderleft.svg');
    background-repeat: no-repeat;
    margin-right:36px ;
}
.presentation__btn-right{    
    background-image: url('../img/sliderright.svg');    
}
.presentation__image{
    width: 100%;
    /*min-width: 497px;*/
    height: 538px;
    border-radius: 20px;
    background-size: cover;    
}
.presentation__slider{
    overflow: hidden;
}
.slider__link{
    display: block;
    box-sizing: border-box;
    border-radius: 20px;    
    margin-top: 75px;
    width: 221px;
    height: 52px;
    background-color: #702C77;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: center;    
    padding: 12px 12px;
    padding-bottom: 0;
    margin-bottom: 69px;    
}

.pageabout__link{
    font-family: 'TT Norms';
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: block;
    width: 294px;
    height: 52px;
    background: #702C77;
    border-radius: 26px;
    text-align: center;
    padding: 12px 22px;
    box-sizing: border-box;
    margin-bottom: 58px;
}
.rurallure__link{
    font-family: 'Montserrat';
    color: #65575E;
    margin-bottom: 170px;
    font-weight: 700;
    flex-basis: 70%;
}
.rurallure__logo{
    max-width: 324px;
    max-height: 69px;
    justify-content: end;
}
.ruralure__block{
    display: flex;    
}
@media (max-width:1350px) {
    .presentation__conteiner{
        padding-left: 70px;       
    }
    
    .presentation__text{        
        font-size: 24px;        
    }
    .pageabout__text{
        font-size: 24px;
    }
}
@media (max-width:1020px) {
    .presentation__conteiner{
        padding-left: 50px;       
    }
    .presentation__text{        
        font-size: 20px;        
    }
    .slider__title{          
        font-size: 40px;        
    }
    
}
@media (max-width:860px) {
    .presentation__conteiner{
        padding-left: 40px;       
    }
    .presentation__text{        
        font-size: 10px;        
    }
    .rurallure__link{
        font-size: 24px;
    }
}
@media (max-width:660px) {
    .presentation__conteiner{
        padding: 16px;
        padding-top: 0;       
    }
    .presentation__title{
        margin: 0;
        margin-top: 20px;
        text-align: center;
        font-size: 32px;
        margin-bottom: 18px;
    }
    .presentation__text{        
        font-size: 10px;
        margin: 0;
        line-height: 12.19px;
        margin-bottom: 8px;        
    }
    .pageabout__text{        
        font-size: 10px;
        line-height: 12.19px;
        margin-bottom: 20px;
    }
    .text-one{
        margin-top: 307px;
    }
    .pagabout__img{
        width: 90%;
        height: auto;        
        position: absolute;
        top: 124px;        
    }
    .pageabout__link{        
        font-size: 14px;
        line-height: 16.52px;         
        width:176px;
        height: 32px;
        background: #702C77;
        border-radius: 26px;
        text-align: center;
        padding: 8px 15px;
        box-sizing: border-box;        
        margin: auto;
        margin-bottom: 32px;
    }
    .presentation__link{
        font-size: 8px;        
    }
    .presentation__link svg{
        width: 4px;
        height: 7px;
    }
    .slider__title{
        margin: 21px 0;
        font-size: 14px;
    }
    .presentation__label{
        display: none;
    }
    .presentation__image{
        width: 102px;        
        height: 111px;
        border-radius: 4.12px;          
    }
    .slider__link{
        text-transform: uppercase;
        width: 138px;
        height: 32px;
        margin: 18px 223px 32px 16px;
        display: flex;
        align-items: center;        
        font-size: 14px;
        padding: 0;
        padding-left: 13px;
    }
    .slider__link svg{
        width: 6px;
        height: 12px;
    }
    .ruralure__block{
        flex-direction: column-reverse;
        gap: 20px;
    }
    .rurallure__link{
        font-size: 10px;
        line-height: 14px;
        margin: auto;
    }
    .rurallure__link svg{
        width: 4px;
        height: 7px;
    }
    .rurallure__logo{
        width:166px;
        height: 35px; 
        margin: auto;       
    }
    
}