.presentation__conteiner{
    padding-left: 100px;
    padding-top: 100px;
}

.presentation__title{
    color: rgba(112, 44, 119, 0.7);      
}
.presentation__text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;    
    color: #65575E;
}
.pageabout__text{
    font-family: 'Montserrat';
    color: #65575E;
    margin-bottom: 58px;
}
.presentation__link{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #65575E;
    margin-bottom: 71px;
}
.slider__title{
    
    flex-grow: 1;
    font-family: 'TT Norms';    
    font-size: 48px;
    line-height: 118%;
    color: #65575E;
}
.presentation__label{
    display: flex;      
}

.presentation__btn{
    width: 98px;
    height: 98px;
    border: none;
    background-color: transparent;
}
.presentation__btn-left{    
    background-image: url('../img/sliderleft.svg');
    background-repeat: no-repeat;
    margin-right:36px ;
}
.presentation__btn-right{    
    background-image: url('../img/sliderright.svg');    
}
.presentation__image{
    width: 100%;
    /*min-width: 497px;*/
    height: 538px;
    border-radius: 20px;
    background-size: cover;    
}
.presentation__slider{
    overflow: hidden;
}
.slider__link{
    display: block;
    box-sizing: border-box;
    border-radius: 20px;    
    margin-top: 75px;
    width: 221px;
    height: 52px;
    background-color: #702C77;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: center;    
    padding: 12px 12px;
    padding-bottom: 0;
    margin-bottom: 69px;    
}

.pageabout__link{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: block;
    width: 294px;
    height: 52px;
    background: #702C77;
    border-radius: 26px;
    padding: 12px 22px;
    box-sizing: border-box;
    margin-bottom: 58px;
}
.rurallure__link{
    font-family: 'Montserrat';
    color: #65575E;
    margin-bottom: 170px;
    font-weight: 700;
}
.rurallure__logo{
    max-width: 324px;
    max-height: 69px;
    margin-left: 774px;
}
.ruralure__block{
    display: flex;
    
}
@media (max-width:1350px) {
    .presentation__conteiner{
        padding-left: 70px;       
    }
    .presentation__text{        
        font-size: 24px;        
    }
}
@media (max-width:1020px) {
    .presentation__conteiner{
        padding-left: 50px;       
    }
    .presentation__text{        
        font-size: 20px;        
    }
    .slider__title{          
        font-size: 40px;        
    }
}
@media (max-width:860px) {
    .presentation__conteiner{
        padding-left: 40px;       
    }
    .presentation__text{        
        font-size: 16px;        
    }
}