.separation{    
    background-color: #65575E;
    padding-top: 88px;
    padding-bottom:109px;
}
.separation__title{
    color:#ffffff;
    margin: 0;     
    padding: 0;
    margin-right: 100px;
    text-align: end;
}
.separation__text{
    font-family: 'Montserrat';         
    color: #FFFFFF; 
    margin: auto;   
    margin-top: 90px;
    padding: 0;
    margin-bottom:27px;
}
.separation__link{    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size:24px;
    color: #FFFFFF;    
    background-color: transparent;
    border: none;
    border-bottom: 4px solid #FFFFFF;
}
.separation__spanwrapper{
    margin: 0;
    padding: 0;
    margin-top: 78px;        
}
.separation__span{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    height: 3%;
    background-color:#D7D7D7;
    color:#544F4F ;
    border-radius:20px;
    font-family: 'Montserrat';    
    font-size: 24px;   
    color: #544F4F;
    padding: 10px;
}
.span__left{
    width:35.19%;
    margin-right: 26px;
    margin-left: 98px;
}
.span__right{
    width:16.9%;
}
.useky{
    margin: 0;
    padding: 0;
    margin-top:60px;    
    margin-left: 100px;    
}
.useky__item{    
    padding-bottom: 72px;    
    padding-left: 27px;
    position: relative;        
}
.useky__item:last-child{
    padding-bottom: 0;
}
.useky__link{    
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 40px;
    line-height: 122%;
    color: #FFFFFF;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 8px;   
}
.useky__span{
    font-weight: 700;
}
.useky__link::after{
    position: absolute;
    content: '';
    width: 1.5%;
    height: 2.2%;
    background-color: transparent;
    background-image: url('../img/useky.svg');
    background-repeat: no-repeat;
    left: -20px;
}
@media (max-width:1520px){
    .separation__text{
        font-size:30px ;
    }
}
@media (max-width:1350px){
    .separation__text{
        font-size:24px ;
    }
    .useky{        
        margin-top:40px;    
        margin-left: 60px;    
    }
    .useky__item{    
        padding-bottom: 36px;    
        padding-left: 14px;                
    }
    .useky__link{         
        font-size: 24px;           
}
}
@media (max-width:1020px){
    .separation__text{
        font-size:20px ;
    }
    .span__left{
        width:30%;
        font-size: 24px;
        margin-right: 20px;
        margin-left: 60px;
    }
    .span__right{
        width:15%;
        font-size: 24px;
    }
    .useky{
        list-style: none;        
        margin-top:20px;    
        margin-left: 30px;    
    }
    .useky__item{    
        padding-bottom: 20px;    
        padding-left:12px;                
    }
    .useky__link{         
        font-size: 20px;           
}
}
@media (max-width:860px){
    .separation__text{
        font-size:14px ;
    }
    .span__left{
        width:30%;
        font-size: 16px;
        margin-right: 15px;
        margin-left: 40px;
    }
    .span__right{
        width:15%;
        font-size: 16px;
    }
    .useky{        
        margin-top:10px;    
        margin-left: 15px;    
    }
    .useky__item{    
        padding-bottom: 18px;    
        padding-left:10px;                
    }
    .useky__link{         
        font-size: 16px;           
}
}
@media (max-width:660px) {
    .separation{    
        padding: 0;
        padding-top: 16px;
        padding-bottom: 20px;
    }
    .separation__title{
        font-size: 32px;
        margin-right: 16px;                    
    }
    .separation__text{
        margin: 18px 16px 8px 16px;    
        font-size: 10px;
        line-height: 12.19px;
    }
    .separation__text br{
        display: none;
    }
    .separation__link{
        font-size: 8px;
        margin-left: 16px;
    }
    .separation__spanwrapper{
        margin-top: 18px;
        margin-left: 16px;       
    }
    .separation__span{
        font-size: 6px;
        line-height: 7.31px;
        padding: 3px 6px;
    }
    .span__left{
        width: 140px;
        height: 13px;
        margin-right: 8px;
    }
    .span__right{
        width: 70px;
        height: 13px;
    }
    .useky{        
        margin-top:27px;    
        margin-left: 5px;    
    }    
    .useky__item{    
        padding-bottom: 18px;    
        padding-left:16px;                
    }
    .useky__link{         
        font-size:10px;
        line-height:178%; 
        padding-bottom: 4px;                       
}
.useky__link::after{
    display: none;
}
.useky__item img{
    display: none;
}
}