html{
    box-sizing: border-box;    
}

body{ 
    min-width: 320px;
    min-height: 100vh;   
    box-sizing: border-box;
    width:100% ;
    max-width:1728px ;
    font-family: 'TT Norms',sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 120%;
    background-color:#E7E7E7;
    color:#65575E;    
    margin: 0; 
    font-style: normal;   
}
*{
    box-sizing: inherit;
}
img{
    max-width: 100%;
}
ul{
    list-style: none;    
}

a{
    text-decoration: none;
}
.visually-hidden{
position: fixed;
transform: scale(0);
}
.change__link svg:hover path{
    background-color: transparent;
    fill: rgb(141, 36, 141);
}
.title{
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 700;
    font-size:96px;
    line-height: 118%;
    text-transform: uppercase;     
}   
@media (max-width:1520px) {
    body{
        max-width:1520px ;        
    }
    .title{
    font-size:70px;
    } 
    } 
@media (max-width:1350px) {
    body{
        max-width:1350px ;        
    }
        .title{
        font-size:55px;
        } 
        } 
@media (max-width:1020px) {
    body{
        max-width:1020px ;        
    }
            .title{
            font-size:45px;
            } 
            } 
@media (max-width:860px) {
    body{
        max-width:860px ;        
    }
    .title{
                font-size:40px;
                } 
        } 
    
